@inherits LayoutComponentBase

<div class="absolute flex bg-[#3B49E6] h-[100vh] w-[100vw]">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="relative bg-[#f0f0f0] w-[100%]">
        @Body
    </main>
</div>
